<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="assets/css/global.css">
    <link rel="stylesheet" href="assets/css/forms.css">
  </head>
  <body style="overflow: hidden; background-color: rgba(0,0,0,0); margin: 0" >
    <line-chart />    
  </body>
  
  <script>window.exports = module.exports</script>
  <script>window.$ = window.jQuery = require("../node_modules/jquery/dist/jquery.js");</script>
  <script src="../node_modules/chart.js/dist/Chart.js"></script>
  <script src="../node_modules/zone.js/dist/zone.js"></script>
  <script src="../node_modules/reflect-metadata/Reflect.js"></script>
  <script src="bootstrap.ts"></script>
</html>